<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ganesh.coffeeorderdemo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/coffeelogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/coffeelogo"
        android:theme="@style/AppTheme">
        <activity android:name=".Splashscreen"
            android:screenOrientation="portrait"
            android:theme="@style/notitlebar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>


    </application>

</manifest>